<div class="container">


  <div class="container">


      <div class="card">
        <div class="card-header">
          Search Account
        </div>
        <div class="card-block">
          <form [formGroup]="searchAccount" novalidate (ngSubmit)="searchAccountSubmit(searchAccount.value, searchAccount.valid)"
                class="form-inline">

            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" formControlName="firstName" placeholder="Full name">

            <label class="sr-only" for="inlineFormInputGroup">Account Number</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">A/C</div>
              <input type="text" class="form-control" formControlName="accountNumber" id="inlineFormInputGroup" placeholder="Account Number">
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>


    <div class="card">
      <div class="card-header">
        Result ({{accounts.length | async}})
      </div>
      <div class="card-block">
        <div class="container">
          <div class="row" *ngFor='let account of accounts | async ' style="border: 1px solid #f4f4f4">
            <div class="col">{{account.id}}</div>
            <div class="col">{{account.accountNumber}}</div>
            <div class="col">{{account.firstName}}</div>
            <div class="col">{{account.lastName}}</div>
            <div class="col">{{account.phoneNumber}}</div>
            <div class="col">{{account.email}}</div>
            <div class="col">{{account.streetAddress}}</div>
            <div class="col">{{account.apt}}</div>
            <div class="col">{{account.zip}}</div>
            <div class="col">{{account.userId}}</div>
            <div class="col">{{account.error}}</div>
            <div class="col"><a>edit</a></div>
            <div class="col"><a>Delete</a></div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
